rnaseq_workflow.e
rnaseq_workflow.o
raw_data/
results/
logs/
benchmarks/
.snakemake/
config/samplesheet/*
!config/samplesheet/make_units_template*
!config/samplesheet/units.tsv
*.DS_Store
*._.DS_Store
iSEE/.*
resources/*
!resources/deseq_template.Rmd
tmp/
.Rproj.user
