rnaseq_workflow.e
rnaseq_workflow.o
raw_data/
results/
logs/
benchmarks/
.snakemake/
.pytest_cache/
__pycache__/
tests/fixtures/reference/star_index/*
!tests/fixtures/reference/star_index/.gitkeep
tests/fixtures/reference/salmon_index/*
!tests/fixtures/reference/salmon_index/.gitkeep
config/samplesheet/*
!config/samplesheet/make_units_template*
!config/samplesheet/units.tsv
!config/samplesheet/comparisons.tsv
*.DS_Store
*._.DS_Store
iSEE/.*
tmp/
.Rproj.user