body {
  font-family: Arial;
  font-size: 14pt;
}

.container{
  max-width: 80% !important;
}

.main-container {
  max-width: 80% !important;
}


h1 {
  font-size: 22pt;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-size: 22pt;
  font-weight: bold;
  padding-top: 100px !important;
}

.navbar-default {
  background-color: #005596;
  min-height: 80px;
}

.navbar-brand {
  color: #fff !important;
  font-family: Arial, sans-serif !important;
}

.navbar.navbar-default ul li a {
  color: white;
  text-decoration: none;
  font-size: 14pt;
  font-family: Arial, sans-serif;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
}

.navbar-default .navbar-nav > .active > a {
  color: #005596;
  background-color: #60abde !important;
}

.navbar-default .navbar-nav > .open > a,
a.dropdown-toggle:hover {
  color: #60abde !important;
  background-color: #005596 !important;
}

.navbar-default .dropdown-menu {
  background-color: #005596 !important;
}

.navbar-default .dropdown-menu > li > a {
  background-color: #005596;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.navbar-default .dropdown-menu > li > a:hover {
  background-color: #60abde !important;
  color: #005596 !important;
}

.navbar-default .dropdown-header {
  background-color: #005596;
  color: white !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 14pt !important;
  margin-top: 10px;
  margin-bottom:

